<app-topo></app-topo>
<div *ngIf="!inicioJogo; else jogando">
    <div class="container">
        <div class="jumbotron mg-top-30">
            <div class="row mg-top-30">
                <div class="col">
                    <div class="row d-flex justify-content-center mg-top-30">
                        <h2>Seja bem vindo ao quiz sobre game of thrones!</h2>
                    </div>
                    <div class="row d-flex justify-content-center mg-top-30">
                        <h3>Mostre que você sabe tudo da série</h3>
                    </div>
                </div>
            </div>
            <div class="row mg-top-30">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <button class="btn" (click)="iniciarJogo()">Iniciar Jogo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #jogando>
    <div *ngIf="jogoEmAndamento; else fimDeJogo">
        <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
    </div>

    <ng-template #fimDeJogo>
        <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 30px">
            <div class="row">
                <div class="col d-flex justify-content-center" style="color: #ff0000">
                    <h3>Fim de jogo, infelizmente você perdeu!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div style="margin-top: 40px;">
                        <button class="btn" (click)="reiniciarJogo()">Jogar Novamente</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #fimDeJogoVitoria>
        <div class="container" style="margin-top: 30px">
            <div class="row">
                <div class="col d-flex justify-content-center" style="color: #00b300">
                    <h3>Parabéns! Você venceu!!!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div style="margin-top: 40px;">
                        <button class="btn" (click)="reiniciarJogo()">Jogar Novamente</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>