<div class="container">
  <div class="jumbotron mg-top-30">
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex justify-content-start">
          <app-dicas [dicaPersonagem]="dicaPersonagem"></app-dicas>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-end">
          <app-tentativas [tentativas]="tentativas"></app-tentativas>
        </div>
      </div>
    </div>
    <div class="row mg-top-30">
      <div class="col">
        <div class="d-flex justify-content-center">
          <img [src]="rodadaPersonagem.urlFotoPersonagem">
        </div>
      </div>
    </div>
    <div class="row mg-top-30">
      <div class="col">
        <div class="d-flex justify-content-center">
          <h6><strong>{{ instrucao }}</strong></h6>
        </div>
        <div class="form-group d-flex justify-content-center">
          <textarea class="form-control" rows="2" (input)="atualizaResposta($event)" (keyup.enter)="verificarResposta()" [value]="resposta"></textarea>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div *ngIf="msg" class="alert alert-danger">
          <p>{{msg}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center">
          <button class="btn" (click)="verificarResposta()">Próximo</button>
        </div>
      </div>
    </div>
    <div class="row mg-top-30">
      <div class="col">
        <app-progresso [progresso]="progresso"></app-progresso>
      </div>
    </div>
  </div>
</div>