    img {
        border: 3px solid #1a1a1a;
        width: 300px;
        height: 200px
    }

    textarea {
        background: rgba(89, 89, 89, 0.5);
        color: #d9d9d9;
        border: 1px solid #1a1a1a;
        width: 50%;
        &:hover,
        &:active,
        &:focus {
            background: rgba(89, 89, 89, 0.8);
            border: 1px solid #1a1a1a;
            color: #d9d9d9;
        }
        @media only screen and (max-width: 480px) {
            width: 100%;
        }
    }

    .alert {
        color: gray;
        font-weight: bold;
        border: 1px solid #270c0c;
        background: rgba(59, 18, 18, 0.2);
        padding-bottom: 0
    }