    img {
        border: 3px solid #1a1a1a;
        width: 400px;
        height: 240px;
        @media only screen and (max-width: 550px) {
            width: 280px;
            height: 160px;
        }
    }

    textarea {
        background: rgba(89, 89, 89, 0.5);
        color: #d9d9d9;
        border: 1px solid #1a1a1a;
        width: 60%;
        text-align: center;
        &:hover,
        &:active,
        &:focus {
            background: rgba(89, 89, 89, 0.8);
            border: 1px solid #1a1a1a;
            color: #d9d9d9;
        }
        @media only screen and (max-width: 767px) {
            width: 80%;
        }
        @media only screen and (max-width: 550px) {
            width: 100%;
        }
    }

    .alert {
        color: gray;
        font-weight: bold;
        border: 1px solid #270c0c;
        background: rgba(59, 18, 18, 0.6);
        padding-bottom: 0
    }